<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ExercisePrescription"
        tools:targetApi="31">
        <activity
            android:name="com.razawiyahdev.exerciseprescription.MessageActivity"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminMessage"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserMessage"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserDataView"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserListOption"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.ChartExample"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminProgressChartListEP"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserUpdateProfile"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserAbout"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminExercisePrescriptionModify"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminHealthChart"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminExerciseChart"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserHealthChart"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserHeartRateData"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserBloodPressureData"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserWeightData"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserStrengthData"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserFlexibilityData"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.SignOut"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.SignUpDoctor"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.SignUpChooseAccount"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminProgressChartPatientData"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminChart"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminProgressChartOption"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminProgressChartList"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminExercisePrescription"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminAbout"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminUpdateProfile"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserExerciseChart"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserAerobicData"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserExerciseData"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserHealthData"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserProgressChart"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserExercisePrescription"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.UserHomepage"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.AdminHomepage"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.SafetyPrecaution"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.Login"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.SignUpPatient"
            android:exported="false" />
        <activity
            android:name="com.razawiyahdev.exerciseprescription.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>